In [1]:
import numpy as np
import pandas as pd

In [2]:
z = 8j + 13
type(z)

complex

In [3]:
#GÖREV 2
text = "The goal is to turn data into information, and information to insight"
text = text.upper()
text = text.replace(",", "")
text = text.split(" ")
text

['THE',
 'GOAL',
 'ISTO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'TO',
 'INSIGHT']

In [4]:
#GÖREV 3
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
len(lst)

11

In [5]:
lst[0], lst[10]

('D', 'E')

In [6]:
lst[0:4]

['D', 'A', 'T', 'A']

In [7]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [8]:
lst.append("M")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'M']

In [11]:
lst.insert(8, "N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'M']

In [12]:
#GÖREV 4
dict = {"Christian" : ["America", 18],
        "Daisy" : ["England", 12],
        "Antonio" : ["Spain", 22],
        "Dante" : ["Italy", 25]}

In [14]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [15]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [16]:
dict["Daisy"] = ["England", 13]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [17]:
dict["Ahmet"] = ["Turkey", 24]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [19]:
del dict["Antonio"]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [23]:
#GÖREV 5

l = [2,13,18,93,22]

def func(liste):
    A = []
    B = []
    for i in liste:
        if i%2 == 0:
            B.append(i)
        else:
            A.append(i)
    return A, B    
    
func(l)

([13, 93], [2, 18, 22])

In [27]:
#VEYA

l = [2,13,18,93,22]
A = []
B = []

[B.append(i) if i%2 == 0 else A.append(i) for i in l]
A, B

([13, 93], [2, 18, 22])

In [30]:
#GÖREV 6

öğrenciler = ["Ali", "Veli", "Ayşe", "Talat", "Zeynep", "Ece"]

for index, öğrenci in enumerate(öğrenciler):
    if index<3:
        print(f"Mühendislik Fakültesi {index+1}. öğrenci: {öğrenci}")
    else:
        print(f"Tıp Fakültesi Fakültesi {index-2}. öğrenci: {öğrenci}")

Mühendislik Fakültesi 1. öğrenci: Ali
Mühendislik Fakültesi 2. öğrenci: Veli
Mühendislik Fakültesi 3. öğrenci: Ayşe
Tıp Fakültesi Fakültesi 1. öğrenci: Talat
Tıp Fakültesi Fakültesi 2. öğrenci: Zeynep
Tıp Fakültesi Fakültesi 3. öğrenci: Ece

In [33]:
#GÖREV 7

ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

a = list(zip(kredi, ders_kodu, kontenjan))

for i in a:
    print(f"Kredisi {i[0]} olan {i[1]} kodlu dersin kontenjanı {i[2]} kişidir.")

[(3, 'CMP1005', 30),
 (4, 'PSY1001', 75),
 (2, 'HUK1005', 150),
 (4, 'SEN2204', 25)]

In [50]:
#DAHA KARMAŞIK

result = [f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir." 
          for kredi, ders_kodu, kontenjan in zip(kredi, ders_kodu, kontenjan)]

print("\n".join(result))

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [2]:
#GÖREV 8 

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def kapsama(x, y):
    if x.issuperset(y) == True:
        print(x.intersection(y))

    else:
        print(y.difference(x)) #veya y-x

kapsama(kume1, kume2)

{'miuul', 'function', 'qcut', 'lambda'}